* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f1f2f5;
}

i {
  color: #bbb;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9%;
  padding-bottom: 1rem;
}

.todo-box {
  background-color: #fff;
  width: 45%;
  position: relative;
  box-shadow: 10px 10px 15px rgba(34, 34, 34, 0.397);
}

.todo-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.todo-header p {
  color: #222;
  font-weight: 600;
  font-size: 1rem;
}

.todo-input {
  position: relative;
}

.todo-input input {
  width: 100%;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  outline: none;
  color: #272727;
}

.todo-input i {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.task {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.task label {
  color: rgb(54, 54, 54);
  margin-left: 0.7rem;
}

.task i,
.task input {
  cursor: pointer;
}

.task .line {
  text-decoration: line-through;
  text-decoration-color: rgba(0, 0, 0, 0.596);
}

.fa-check {
  color: green;
  display: none;
}

.checkbox {
  display: inline-block;
}

.delete {
  width: 100%;
  padding: 1rem;
  background-color: rgb(75, 25, 141);
  color: #fff;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 1s;
}

.delete:hover {
  text-decoration: underline;
}
